doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Document
    body 

        .intro
            h3.logo WEBGTX
            .video
                video.video__media(src='lib/src/video.mp4' muted autoplay loop)
            
            .intro__content
                .intro__inner 
                    h1.intro__title Welcome 
                    h2.intro__subtitle to my pixel art gallery
                    a.intro__button(href="#") Watch more